@import "tailwindcss";

@theme {
  --color-brand-light: #e0f2fe;
  --color-brand: #38bdf8;
  --color-brand-dark: #0369a1;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
}
